@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* #04101B */

.container {
    margin-left: 260px;
    /* padding-top: 25px; */
    transition: all 0.4s linear;
}

.header {
    padding: 25px 25px 15px 25px;
    /* margin: 0 0 0 25px; */
    background-color: white;
    /* box-shadow: 0 2px 5px 0 rgba(51,51,79,.07); */
    /* border-radius: 5px; */
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    width: calc(100vw - 260px);
    position: fixed;
    z-index: 2;
    transition: all 0.4s linear;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.header-dm {
    background-color: #04101B;
    border-bottom: grey 1px solid;
    color: white;
}

.header * {
    text-align: center;
}

.header h1 {
    color: #CC4400;
    width: 160px;
    border-right: rgba(0, 0, 0, 0.3) 0.5px solid;
    padding: 20px;
    text-align: right;
}

.header p {
    width: 450px;
    text-align: left;
    padding: 20px;
}

.presentations-container {
    padding-top: 105px;
}

.article-presentation {
    /* margin: 0 25px 0 25px; */
    background-color: white;
    /* box-shadow: 0 2px 5px 0 rgba(51,51,79,.07); */
    /* border-radius: 5px; */
    display: block;
    height: 210px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.article-presentation:first-of-type, .article-presentation:first-of-type .thumbnailDiv{
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */

}
.article-presentation:last-of-type, .article-presentation:last-of-type .thumbnailDiv{
    /* border-bottom-left-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
}


.thumbnailDiv {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* margin: 2.5% 20px; */
    /* border-radius: 5px; */
}

.articleText {
    width: 95%;
    /* padding: 2.5%; */
    position: relative;
}

.articleText h2 {
    margin-bottom: 20px;
    font-family: 'Thasadith';
    font-size: 30px;
    color: #CC4400;
    text-align: left;
    font-weight: 700;
    position: absolute; 
    top: 85px;
    left: 20px;
    transition: all linear 0.3s;
}

.articleText p {
    font-size: 15px;
    font-family: 'Thasadith';
    font-weight: 300;
    color: white;
    text-align: left;
    opacity: 0;
    transition: all linear 0.5s;
    position: absolute;
    top: 80px;
    left: 20px;
    width: calc(100vw - 320px)
}

.thumbnailDiv:hover h2 {
    top: 20px;
    left: 20px;
    /* text-decoration: underline; */
}

.thumbnailDiv:hover {
    cursor: pointer;
}

.thumbnailDiv:hover p {
    opacity: 1;
}
