@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* #04101B */

.container {
    transition: all 0.4s linear;
    background-color: #04101B;
    flex-grow: 1;
}

.header {
    padding: 5px 25px 5px 25px;
    height: 105px;
    width: 100%;
    z-index: 2;
    transition: all 0.4s linear;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: #04101B;
    border-bottom: grey 1px solid;
    color: white;
    box-sizing: border-box;
}



.header h1 {
    color: #CC4400;
    width: 160px;
    padding: 5px 20px;
    max-height: 100%;
}

.header p {
    width: 450px;
    padding: 20px;
}

.presentations-container {
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.presentations-container::-webkit-scrollbar {
    display: none;
  }


@media screen and (max-width: 900px) {


    .header h1 {
        display: none;
    }

    .header p  {
        display: none;
    }

    .articleText h2 {

        min-width: 300px;
    }

    .mobilehidden  {
        opacity: 0;
    }

}