@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&family=Thasadith:wght@400;700&display=swap');


* {
    font-family: 'Thasadith';
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    margin: 0;
    background-color:#04101B;
     /* rgba(18, 8, 240, 0.3); */
    height: 100vh;
    max-height: 100vh;
}

main {
    background-color: #04101B;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

a {
    color: black;
    font-weight: 400;
    transition: 0.3s linear all;
}

a:hover {
    font-weight: 700;
}

.hidden {
    display : none;
}


.active {
    background-color: rgba(204, 68, 0, 0.8);
    /* box-shadow: 0 2px 2px black; */
    box-shadow: 0 2px 5px 0 rgba(51,51,79,.7);
    color: white;
}

.non-active {
    /* padding-bottom: 1px; */
    border: solid 0.5px rgba(0, 0, 0, 0.6);   
    box-shadow: 0 2px 5px 0 rgba(51,51,79,.7) inset;
    /* background-color: #FBFBF8; */
}

.active:hover {
    cursor: default;
}


.non-active:hover {
    cursor: pointer;
} 


.container {
    max-width: 900px;
    width: 56%;
    margin: 20px auto;
}

.header-h1 {
    border-right: grey 1px solid;
    text-align: right;
}

.header-h1-mobile {
    display: none;
}

.header-p-mobile {
    display: none;
}

.header-h1-ar {
    border-left: rgba(0, 0, 0, 0.3) 0.5px solid;
    text-align: left;
}

.header-p {
    text-align: left;
    direction: ltr;
}

.header-p-ar {
    text-align: right;
    direction: rtl;
}



@media screen and (max-width: 900px) {

    .header-p  {
        width: unset;
    }


}

@media screen and (max-width: 500px) {

    .header-h1.h1-article {
        display: none;
    }

    .header-h1-mobile {
        display: block;
    }

    .header-p.header-p-article {
        display: none;
    }

    .header-p-mobile {
        display: block;
    }

}
